/* COLOR PALLETE
DUKE BLUE #000B9D
ROCKET METALLIC #857E7B
CORNFLOWER BLUE #7699D4
WHITE #FCFCFC
BLACK CHOCOLATE #1E2019
RUBY RED #9A031E */

/*OVERALL LAYOUT*/
body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
    background-color: #1E2019;
    background-image: radial-gradient(circle farthest-side at center top, hsl(0, 0%, 100%) 0%, #1E2019  100%);
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    max-width: 100vw;
}

/* HEADER */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: white;
}
header .logo {
    display: none;
    flex: 1 0 8.25%;
}
.logo img {
    width: 7rem;
}
header nav {
    display: none;
}
.navtitle {
    flex: 2 0 88%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.btn {
    background-color: #857E7B;
    padding: .25rem .75rem;
    border-radius: .75rem;
    text-transform: uppercase;
    border: 1px solid transparent;
    color: white;
}
nav ul{
    display: flex;
    list-style: none;
}
nav li {
    padding-left: 1rem;
    padding-top: 0;
}
a {
    text-decoration: none;
}
.navtitle a:hover {
    color:#9A031E;
    background-color: transparent;
    border: 1px solid #857E7B;
    box-sizing: border-box;
}
h1 {
    color: #9A031E;
    font-size: 4rem;
    text-align: center;
    font-weight: bold;
    margin: 0
}

/* INTRO SECTION */
.intro {
    display: flex;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    width: 100%;
    border: 3px solid #1E2019;
    font-size: 1.25rem;
    color: white;
    background-color: #1E2019;
    background-image: radial-gradient(ellipse closest-corner at center, #857E7B 0%, #1E2019 100%);
}
.intro-text{
    flex: 2 0 78%;
    padding: 2rem 1rem 2rem 2rem;
}
.intro h2, .intro h3, .intro p {
    padding: 0 1rem;
}
.intro h2 {
    margin-bottom: 0rem;
    font-size: 2.5rem;
}
.intro h3 {
    margin-top: .5rem;
    font-size: 1.25rem;
    font-style: italic;
}
.intro p {
    font-size: 1.25rem;
    font-family: 'Averia Serif Libre', cursive;
}
.intro-img {
    display: none;
    flex: 1 0 18%;
    text-align: right;
}
.intro .resume {
    margin-top: .5rem;
    padding-left: 3rem;
}
.resume a {
    color: white;
    text-decoration: none;
}

.resume a:hover{
    color: #9A031E;
    background-color:#857E7B;
}
.intro .certs {
    font-size: 2rem;
    font-style: normal;
    padding-bottom: 0;
    margin-bottom: 0;
    padding-top: 1rem;
    text-decoration: underline;
}
.intro ul {
    padding-top: 0;
    margin-top: .5rem;
    padding-left: 4rem;
}

.intro li{
    font-size: 1.25rem;
    font-family: 'Averia Serif Libre', cursive;
}
.contact-btn {
    padding: 2rem;
}
.contact-btn a:hover {
    color:#9A031E
}
.intro-img img {
    width: 15rem;
}

p {
    color: white;
    font-size: 1.25rem;
    font-family: 'Averia Serif Libre', cursive;
    padding-left: 2rem;
    margin: 0;
}
/* PORTFOLIO */

.prohead {
    color:#9A031E;
    font-size: 2.5rem;
    padding: 2rem;
    margin: 0;
}
.portfolio {
    margin-bottom: 1rem;
    width: 100%;
}
.classdesc {
    padding-bottom: 1rem;
}
.projects {
    display: flex;
    flex-direction: column;
}
.portfolio figure {
    padding: 0;
    margin: 0;
}
.fields {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.jobs {
    text-align: center;
}
.jobsec {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #1E2019;
    color: white;

}

.jobsec .jobs {
    text-align: left;
    margin-left: 0;
    flex: 3 0 66%;
    padding-left: 0;
}
.jobsec .jobs h3 {
    margin-top: 0;
    padding-left: 2rem;
    font-size: 2rem;
    font-weight: 500;
    color: #9A031E;
}
.jobsec .jobs h4 {
    padding-left: 2rem;
    font-size: 1rem;
    font-weight: 500;
    font-style: italic;
}
.jobsec .pro-img {
    flex: 1 0 33%;
}
.jobsec .jobs p {
    padding-left: 2rem;
    font-family: 'Averia Serif Libre', cursive;

}
.jobsec .jobs li {
    font-family: 'Averia Serif Libre', cursive;
    padding-bottom: 1rem;
}
.pro-img img {
    width: 100%;
    padding-left: 1rem;
}
.jobs figcaption {
    font-size: 1.5rem;
    text-align: center;
}
.jobs p {
    color: white;
}
.jobs p a {
    color: white;
}
.jobsec .jobs a:hover {
    color: #9A031E;
}
.jobs img {
    width: 19rem;
}
.jobs a {
    color: black;
}
.jobs a:hover {
    text-decoration: none;
    border: none;
    background-color: none;
    color: none;
}
.jobs figure:hover figcaption {
    color:#9A031E;
}

.pro-img{
    display: flex;
    align-items: center;
}
/* ABOUT */
.biosec {
    border-top: 3px solid #1E2019;
    
}
.biosec h2 {
    color: #9A031E;
    font-size: 2.5rem;
    padding: 2rem;
    margin: 0;
}
.bio p {
    color: white;
    font-size: 1.25rem;
    padding: 0 2rem;
    margin-bottom: 2rem;
    line-height: 2rem;
    font-family: 'Averia Serif Libre', cursive;
}

/* CONTACT */
#contact {
    border-top: 3px solid #1E2019;
    padding: 0;
}
#contact h2 {
    color:#9A031E;
    font-size: 2.5rem;
    padding: 1rem;
    background-color: #857E7B;
    border-radius: 25px;
    margin: 0;
    margin-bottom: 2rem;
}
#contact p {
    color: white;
    margin-bottom: 0;
    padding-left: 2rem;
    padding-bottom: 1rem;
}
.contact {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
i{
    color: white;
    padding-right: 2rem;
}
i:hover {
    color:#9A031E;
}

/* FOOTER */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-top: 1px solid #857E7B;
    padding-bottom: .5rem;
    color: white;
}
.footnav ul{
    margin: .5rem;
    padding: 0
}
.footnav li{
    border-right: 1px solid white;
    padding: 0 1rem;
    text-align: center;
    font-size: 2.5vw;
}
.footnav li a {
    color: white;
}
.footnav li a:hover {
    color:#9A031E
}
.footnav li:last-child {
    border-right: none;
}

@media screen and (min-width:1000px) {
.container {
    width: 60rem;
}
header .logo {
    display: flex;
}   
header nav {
    display: flex;
}
.navtitle {
    justify-content: flex-end;
}
h1 {
    font-size: 4rem;
}
.intro{
    text-align: left;
}
main .arcade{
    display: flex;
    align-items: center;
    justify-content: center;
}
.arcade h2{
    margin: 2rem;
    font-size: 3rem;
}
.intro-img {
    display: flex;
}
.intro h2, .intro h3 {
    padding-left: 2rem;
}
.intro p {
    padding-left: 3rem;
}
.fields {
    flex-direction: row;
    padding-top: 2rem;
}
.biosec h2 {
    padding-bottom: 0;
}
#contact {
    padding: 2rem 0;
}
i {
    padding-left: 2rem;
}
.footnav li {
    font-size: 1rem;
}
}