/* COLOR PALLETE
DUKE BLUE #000B9D
ROCKET METALLIC #857E7B
CORNFLOWER BLUE #7699D4
WHITE #FCFCFC
BLACK CHOCOLATE #1E2019
RUBY RED #9A031E */

* {
    margin: 0;
    padding: 0;
    color: white;
}
body {
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}
.container {
    background-color: #1E2019;
    display: flex;
    flex-direction: column;
    justify-items: center;
    width: 66vw;
}

header {
    display: flex;
    flex-direction: column;
}
nav {
    font-family: 'Averia Serif Libre', cursive;
}

h1 {
    font-size: 6vw;
    padding-top: .5em;
    text-align: center;
}
a {
    text-decoration: none;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: 2vw;
    text-align: center;
}

p {
    text-align: center;
    padding: 5px;
    font-size: 1.5em;
    font-family: 'Averia Serif Libre', cursive;
}

.portfolio {
    background-color:#9A031E;
}
footer {
    text-align: center;
    position: sticky;
    bottom: 0;
    z-index: 2;
    background-color: #857E7B;
}

footer a:hover {
    color: #000B9D;
}


.icon {
    width: 4rem;
}

.jobs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;

}
.about {
    background-color: #7699D4;
}
.jobs figcaption {
    display: flex;

}
.jobs figure:hover {
    opacity: .7;
   
}

.jobs figure:hover figcaption {
    color:#000B9D;

}



i:hover {
    color:#000B9D;
}





main img {
    width: 15vw;
}



ul {

    display: flex;
    list-style: none;
    justify-content: center;
}



@media screen and (max-width:1200px) {
    .container {
        width: 100vw;
    }

    h1 {
        font-size: 6vw;
    }
    
    h2 {
        font-size: 3vw;
    }

    main {
        flex-direction: columns;
        justify-items: center;
        text-align: center;
    }


    .jobs {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
}

@media screen and (max-width:750px) {

    main img {
        width: 8rem;
    }

    h1 {
        font-size: 6vw;
    }
    
    h2 {
        font-size: 3vw;
    }

    .jobs {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    p {
        margin: 0px;
        padding: 0px;
    }

    
}