.blink {
  border: 1px solid black;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  background-color: #2c3e57;
  color: white;
  text-decoration: none;
}

.blink:focus{
  color:yellow
}
.blink:hover{
  background-color:yellow;
  color:black;
}
.blink:active{
  color:red;
}


/* general font settings, no links here */
body {
  font-family: Verdana, Arial, sans-serif;
  font-size: 150%;
}


nav ul{
    margin: 0px;
    padding: 0px;
    background-color: black;
    font-family: 'Varta', sans-serif;
    font-size: 24px;
    list-style-type: none;
  }

  nav li {
    display: inline-block;
  }
  
  nav a {
    text-decoration: none;
    display: block;
    padding: 1rem;
    color: white;
  }
  
  nav a:hover {
    color:black;
    background: lightslategrey;
  }
  