* {
    padding: 0px;
    margin: 0px;
    font-family: 'Calibri', Helvetica, sans-serif;
    color: white;
}

span {
    font-family: 'Malgun Gothic', sans-serif;
}

.header p {
    font-size: 2em;
    padding-top: 1.5em;
}

.header p:last-child {
    font-size: 2em;
    padding-top: 1em;
}

.header h1 {
    font-size: 4em;
    margin-top: .5em;
}

.btn {
    max-height: 2.5em;
    margin-top: 1em;
    border: none;
    padding: .75em 1.25em;
    font-family: inherit;
    font-size: 1em;
    color: white;
    background-color: navy;
}
.header {
    background: url(/productLP/bgimg.jpg);
    background-attachment: fixed;
    background-position: right center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.header-image {
    float: left;
    width: 33%;
    margin-top: 3em;
    padding-right: 3em;
    padding-left: 2em;
    text-align: right;
}

.header-image img {
    width: 80%
}

.header-info {
    float: right;
    width: 50%;
    margin-right: 3em;
}

.description {
    width: 100vw;
    padding: 1em 0;
    font-size: 2em;
    background-color: aqua;
    text-align: center;
}

.description p {
    padding-bottom: .5em;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    clear: both;
}

.container::after {
    content: "";
    display: block;
    clear: both;
}

.product-versions-title {
    padding: 1em 0;
    font-size: 2em;
    text-align: center;
}

.product-versions{
    padding: 1em 0;
    background-color: aqua;
}

.product-version{
    float: left;
    width: 33%;
    border: 1px solid grey;
    text-align: center;
    background-color: white;
}

.version-title {
    padding: .25em 0;
    font-size: 3em;
    color: black;
}

.version-price {
    padding: .75em 0;
    font-size: 2em;
    background-color: lightgray;
}

.version-item{
    border-bottom: 1px solid grey;
    width: 100%;
    padding: .75em 0;
    font-size: 1.25em;
    color: black;
}

.version-item:last-child {
    border-bottom: 0;
}

.btn-plain {
    font-weight: normal;
    color: black;
    background-color: gray;
}

.version-price-featured {
    color:white;
    background-color: navy;
}

.social {
    padding: 1em 0;
    font-size: 1.5em;
    text-align: center;
}


.social-links {
    margin-top: .75em;
}

.social-links img {
    width: 50px;
}

.social-link {
    margin: 0 .25em;
}

.footer {
    padding: 1em 0;
    font-variant: small-caps;
    text-align: center;
    background-color: gray;
}

.footer-links {
    margin-bottom: .75em;
    font-size: 1.5em;
}

.footer-link {
    margin: 0 .5em;
}

.copyright {
    font-style: italic;
    font-size: 1em;
}