/* GLOBAL SETTINGS */
*{
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
}

/* HEADER */
header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #6fa8dc;
    padding: 1em;
    border: 1px solid black;
}
header img {
    flex-shrink: 0;
}
h1 {
    flex-grow: 1;
    padding-left: .5em;
    font-size: 2.5em;
}

/* NAVBAR */
nav {
    text-transform: uppercase;
    background-color: #e06666;
    padding: .5em;
}
nav ul {
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    padding-left: .5em;
}
nav li {
    padding-right: 1.5em;
}

/* MAIN AND ASIDE */
main {
    display: flex;
    flex-grow: 1;
    background-color: #b4a7d6;
}
article {
    flex-grow: 3;
    background-color: white;
    border: 1px solid black;
    padding: 1em;
}
aside {
    flex-grow: 1;
    background-color: #b4a7d6;
    border: 1px solid black;
    padding: 1em;
}
footer {
    background-color: #b6d7a8;
    padding: 1em;
}