html {
    box-sizing: border-box;
  }

  *, *:before, *:after {
    box-sizing: inherit;
  }

header{
    background:#D4C5C7;
    text-align: center;
}

body{
    color:#586A6A;
    margin: 0;
    padding:0;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

footer{
    background: #D4C5C7;
    text-align: center;
    border-top: 5px solid black;
}

h1, h2 {
    font-family: 'Quattrocento', serif;
}

h1 {
    font-size: 75px;
    margin: 0;
    line-height: 1;
}

h2 {
    font-size: 35px;
    margin: 0;
}

h3 {
    margin-bottom: 0;
}

small {
    font-style: italic;
}

img{
    width: 300px;
}

.content-wrap{
    max-width: 900px;
    width: 85%;
    margin: 0 auto;
    padding: 50px 0;
}

.icon{
    width: 50px;
}

.LI{
    font-size: 30px;
}

.item-details h3 + p {
    font-style: italic;
}

.item-details h3 ~ p {
    margin:0;
}

.divider > section {
    border-bottom: 1px dashed black;
    padding: 25px 0;
}

.divider > section:last-of-type{
    border-bottom: none;
}

.projects{
    color: #586A6A;
    background: #DAD4EF;
}

.project-items {
    overflow: hidden;
}

.project-items h3 {
    margin-top: 0;
}

.experience{
       color: #586A6A;
       background: #D4C5C7;
}
 
.education{
    background-image: url(images/books.jpg);
    background-size: cover;
    background-position: top right;
    padding-bottom: 100px;
}

.education p, h3 {
    width: 40%;
}

.contact-list{
    list-style-type:none;
    padding: 0;
}

@media screen and (min-width:550px){
    .contact-list{
        list-style-type:none;
        padding: 0;
        display: flex;
        justify-content: center;
    }

    .contact-list a {
        margin: 15px;
    }
    
    .project-items img {
        float: left;
        margin-right: 20px;
    }

    .job-item {
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 20px;
    }
}