/* COLOR PALLETE
DUKE BLUE #000B9D
ROCKET METALLIC #857E7B
CORNFLOWER BLUE #7699D4
WHITE #FCFCFC
BLACK CHOCOLATE #1E2019
RUBY RED #9A031E */

html {
  box-sizing: content-box;
}

/* GLOBAL STYLES */



body {
	color: white;
	background-color: #7699D4;
  font-family: 'Montserrat', sans-serif;
}

/* NAVIGATION */
.mainnav a {
  text-decoration: none;
  color: white;
  display: block;
  margin: 0;
  padding: 0;
}
.mainnav ul a:hover, .dropdown:hover .dropbtn {
  background-color: #9A031E;
  }
  
.mainnav ul {
  display: none;
  flex-direction: column;
  align-items: center;
  font-weight: 700;
  margin: 0;
  padding: 0;
  max-width: 650px;
  background-color: #1E2019;
}

.mainnav li {
  font-size: 2rem;
  margin: 0;

}
.mainnav img {
  height: 3rem;
  margin: 0;
}
.mainnav .watch {
  background-color: #9A031E;
  padding: 1rem 1rem;
  border-radius: 26px;
  font-weight: 700;
}

.watch a:hover {
  color: navy;
}

.dropdown .dropbtn {
  font-size: 2rem;
  border: none;
  outline: none;
  color: white;
  background-color: inherit;
  font-family: inherit;
  font-weight: 700;
  padding: 1.75rem;
}

.dropdown:hover .partnav ul {
  display: flex;
}

.partnav ul{
  display: none;
  border: 1px solid slategray;
  font-weight: 700;
  background-color: slategray;
  padding-left: 0;
  text-align: center;
  margin: 0;
}

.partnav li{
  font-size: 1.5rem;
}

.currentpart {
  background-color: #1E2019;
  padding: 1rem;
}
.partnav a{
  text-decoration: none;
  color: black;
  display: block;
  padding: 1rem;
  margin: 0;
}
.partnav a:hover {
  background-color: #9A031E;
  color: white;
}

/* MAIN CONTENT */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  text-align: center;
  border-style: solid;
  font-size: 1.5rem;
  font-style: italic;
  padding: 1rem;
  max-width: 68rem;
  margin-left: 2rem;
}
h1 {
    text-align: center;
    font-size: 48px;
    margin: 0rem;
    padding-top: 1rem;
}
h2 { 
      text-align: center;
      margin: 0rem;
      padding-top: .5rem;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

.cards img:hover {
  opacity: .7;
}

img {
  height: 150px;
  padding: 10px;
}

ul {
  list-style: none;
}

h2 {
  text-align: center;
}
.icon{
  display: flex;
  flex-direction: row;
  padding: 0;
  margin-top: 0;
}
.icon img {
  width: 3rem;
  height: 3rem;
}
footer {
  border-top: 1px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 650px){

  header {
    max-width: none;
    position: sticky;
    top: 0;
    z-index: 10;
    height: 10em;
  }
  .mainnav ul {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
    padding: 0;
    max-width: none;
  }
  
  .mainnav img {
    height: 3rem;
    margin: 0;
    padding: 1.15rem;
  }
  .mainnav a {
    height:fit-content;
    }
    
  .mainnav ul a:hover, .dropdown:hover .dropbtn {
    background-color: #9A031E;
    }
    
  .partnav ul{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    padding-left: 0;
    padding-top: 0;
    margin: 0;
  }
  .partnav li{
    flex: 1 0 auto;
    flex-wrap: wrap;
    margin: 0;
    font-size: 1.5rem;
    text-align: center;
    
  }
}
/* BREAK POINTS: 
    -AT 3 CARD LEVEL (INCLUDE NAV BAR FONT)
    -AT 2 CARD LEVEL (INCLUDE NAV BAR, RESIZE EVERYTHING) 
    -AT 1 CARD LEVEL (NAV MENU CHANGES TO DROPDOWN)
    -ADD MODAL IMAGES
    -ADD SOUND
    -ONCE SOUND IS DONE, DIFFERENTIATE CARD SIZES
*/