/* COLOR PALLETE
DUKE BLUE #000B9D
ROCKET METALLIC #857E7B
CORNFLOWER BLUE #7699D4
WHITE #FCFCFC
BLACK CHOCOLATE #1E2019
RUBY RED #9A031E */

/* GLOBAL STYLES */
* {
    padding: 0px;
    margin: 0px;
    font-family: 'Calibri', Helvetica, sans-serif;
    color: white;
}
body {
    display: flex;
    flex-direction: column;
}
p {
    font-size: 1.2rem;
    padding: 1rem;
    text-align: center;
}
span {
    font-family: 'Malgun Gothic', sans-serif;
    word-break: keep-all;
}
strong {
    padding: 1rem;
    font-size: 1.5rem;
    text-align: center;
    font-style: italic;
}
a:hover {
    color: #9A031E;
}

button:hover {
    color: #9A031E;
}

/* HEADER STYLES */
.header {
    background: url(/edu/bgimg.jpg);
    background-attachment: fixed;
    background-size: 100rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header h1 {
    font-size: 2.25rem;
}
.header h2 {
    font-size: 1rem;
    padding-top: .15rem;
}
.header img {
    max-width: 15rem;
    min-width: none;
    padding-bottom: 2rem;

}
.header-image {
    padding-top: 1rem;
    justify-items: center;
    align-items: center;
}
.header-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}
.btn {
    max-height: 2.5rem;
    margin-top: 1rem;
    border: none;
    border-radius: 25px;
    padding: .75rem 0rem;
    font-size: 1rem;
    color: white;
    font-weight: 700;
    background-color: #000B9D;
    width: 10rem;
}

/* DESCRIPTION STYLES */
.description {
    display: flex;
    flex-direction: column;
    background-color: #7699D4;
    text-align: center;
    justify-items: center;
    align-items: center;
    padding: 1rem .5rem;
}
.description p {
    padding: .5rem;
    font-size: 1.5rem;
    font-weight: 600;
}
.description p:last-child span{
    color: #000B9D;
    font-weight: 800;
    font-size: 2rem;
    line-height: 3rem;
}

/* CALL TO ACTION STYLES */
.call-to-action {
    display: flex;
    justify-content: center;
}
.product-versions-title {
    padding: 1rem 0;
    font-size: 1.5rem;
    text-align: center;
    width: 500px;
    background-color: white;
}

/* PRODUCT STYLES */
.product-versions{
    padding: 2rem;
    background-color: #7699D4;
    display: flex;
    flex-direction: column;
}
.product-version{
    border: 1px solid #857E7B;
    text-align: center;
    background-color: white;
    padding: 1rem;
}
.version-title {
    padding: .25rem;
    font-size: 2rem;
    color: black;  
}
.version-price {
    padding: .75rem;
    font-size: 1.5rem;
    background-color: #857E7B;
}
.version-item{
    border-bottom: 1px solid #857E7B;
    padding: .75rem;
    font-size: 1.5rem;
    color: black;
    font-family: 'Malgun Gothic', sans-serif;
    word-break: keep-all;
}
.version-item:last-child {
    border-bottom: 0;
    padding: 1rem;

}
.btn-plain {
    font-weight: 700;
    color: black;
    background-color: #857E7B;
    padding: .75rem 0rem;
}
.version-price-featured {
    color:white;
    background-color: #000B9D;
}

/* FOOTER STYLES */
.footer {
    padding: 1rem 0;
    font-variant: small-caps;
    text-align: center;
    background-color: #857E7B;
    display: flex;
    flex-direction: column;
}
.footer-links {
    margin-bottom: .75rem;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
}
.footer-link {
    margin: 0 .25rem;
}
.social {
    padding: 1rem 0;
    font-size: 1.5rem;
    text-align: center;
}
.social-links {
    margin-top: .75rem;
}
.social-links img {
    width: 50px;
}
.social-link {
    margin: 0 .25rem;
}
.copyright {
    font-style: italic;
    font-size: 1rem;
}


@media screen and (min-width:700px){
    .header h1 {
        font-size: 5rem;
    }
    .header h2 {
        font-size: 2rem;
        padding-top: .15rem;
    }

    .product-versions {
        flex-direction: row;
        justify-content: center;
    }
}
