
html {
  box-sizing: content-box;
}

/* GLOBAL STYLES */
body {
	color: white;
	background-color:black;
	font-family: helvetica;
}

/* NAVIGATION */

.mainnav a {
  text-decoration: none;
  color: white;
  display: block;
  height: 100%;
  margin: 0;
  padding: 0;
}
.mainnav ul a:hover, .dropdown:hover .dropbtn {
background-color: red;
}
.mainnav ul {
  display: flex;
  justify-content:space-around;
  align-items: center;
  font-weight: 700;
  margin: 0;
  padding: 0;
}
.mainnav li {
  font-size: 2rem;
  margin 0;
  padding: 0;
}
.mainnav img {
  height: 3rem;
  margin: 0;
  padding: 1rem;
}
.mainnav ul li:last-child {
  background-color: red;
  padding: .6rem 1rem;
  border-radius: 26px;
  align-items: self;
  justify-content: end;
  font-weight: 700;
}
.mainnav ul li:last-child a:hover {
  color: navy;
}

.dropdown .dropbtn {
  font-size: 2rem;
  border: none;
  outline: none;
  color: white;
  background-color: inherit;
  font-family: inherit;
  font-weight: 700;
  padding: 1.75rem;
}

.dropdown:hover .partnav ul {
  display: flex;
}

.partnav ul{
  display: flex;
  justify-content:space-around;
  align-items: center;
  font-weight: 700;
  padding-top: 0;
  margin-top: 0;
  background-color: slategray;
}

.partnav li{
  padding: .5rem 1rem;
  font-size: 1.5rem;
  margin-top: 0rem;
}

.currentpart {
  background-color: black;
  padding: .5rem 2rem
}
/* MAIN CONTENT */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  text-align: center;
  border-style: solid;
  font-size: 1.5rem;
  font-style: italic;
  padding: 1rem;
  max-width: 68rem;
  margin-left: 2rem;
}
h1 {
    text-align: center;
    font-size: 48px;
    margin: 0rem;
    padding-top: 1rem;
}
h2 { 
      text-align: center;
      margin: 0rem;
      padding-top: .5rem;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

img {
  height: 150px;
  padding: 10px;
}

ul {
  list-style: none;
}

h2 {
  text-align: center;
}
.icon{
  display: flex;
  flex-direction: row;
  padding: 0;
  margin-top: 0;
}
.icon img {
  width: 3rem;
  height: 3rem;
}
footer {
  border-top: 1px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* BREAK POINTS: 
    -AT 3 CARD LEVEL (INCLUDE NAV BAR FONT)
    -AT 2 CARD LEVEL (INCLUDE NAV BAR, RESIZE EVERYTHING) 
    -AT 1 CARD LEVEL (NAV MENU CHANGES TO DROPDOWN)
  
*/
 /* Style the Image Used to Trigger the Modal */
 #myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
} 